!!! 5
/[if lt IE 7]   <html lang="en-us" class="no-js lt-ie10 lt-ie9 lt-ie8 lt-ie7">
/[if IE 7]      <html lang="en-us" class="no-js lt-ie10 lt-ie9 lt-ie8">
/[if IE 8]      <html lang="en-us" class="no-js lt-ie10 lt-ie9">
/[if IE 9]      <html lang="en-us" class="no-js lt-ie10 lt-ie9">
/[if lt IE 10]  <html lang="en-us" class="no-js lt-ie10">
/[if !IE]>
%html{lang: 'en', class: 'no-js'}
  /<![endif]
  %head
    %title LAYOUT - #{data.page.title || "BEAM"}
    %meta(http-equiv="content-type" content="text/html" charset="utf-8")
    %meta(http-equiv="x-ua-compatible" content="ie=edge,chrome=1")
    %meta(name="description" content="Front-end framework for structural webapp layout.")
    %meta(name="author" content="Cristian Ferrari | Rodrigo Aliste")

    -# Standard viewport tag to set the viewport to the device's width,
    -# Android 2.3 devices need this so 100% width works properly and
    -# doesn't allow children to blow up the viewport width
    %meta{content: "initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width", name: "viewport"}

    -# Fix for iPhone 5 fullscreen web apps
    %meta(name="viewport" content="initial-scale=1.0,user-scalable=no,maximum-scale=1" media="(device-height: 568px)")
    %meta(name='apple-mobile-web-app-capable' content='yes')
    %meta(name='apple-mobile-web-app-status-bar-style' content='translucent-black')

    -# App Icons
    %link(rel="shortcut icon" href="/images/favicon.ico")
    %link(rel="apple-touch-icon-precomposed" href="/images/apple-touch-icon-precomposed.png")
    %link(rel="apple-touch-icon-precomposed" sizes="57x57" href="/images/apple-touch-icon-57x57-precomposed.png")
    %link(rel="apple-touch-icon-precomposed" sizes="72x72" href="/images/apple-touch-icon-72x72-precomposed.png")
    %link(rel="apple-touch-icon-precomposed" sizes="114x114" href="/images/apple-touch-icon-114x114-precomposed.png")

    -# Javascripts
    -#= javascript_include_tag '//cdnjs.cloudflare.com/ajax/libs/modernizr/2.6.2/modernizr.min.js'
    = javascript_include_tag 'vendor/modernizr.js'

    -# Stylesheets
    = stylesheet_link_tag 'application'

  %body{class: current_page.data.body_class || 'page'}
    %nav.navbar.navbar-default{role: "navigation"}
      .container
        .navbar-header
          %a.navbar-brand{href: "#"} Prejects


    %main
      = yield

    -# Javascripts
    -#= javascript_include_tag '//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js'
    %script{:src => "//api.tiles.mapbox.com/mapbox.js/v1.6.1/mapbox.js"}

    = javascript_include_tag 'vendor/jquery.js'
    = javascript_include_tag 'application'

    - if build?
      -# Google Analytics
      :javascript
        var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
        (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
        g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
        s.parentNode.insertBefore(g,s)}(document,'script'));
