// IMPORT ONCE
// We use this to prevent styles from being loaded multiple times for compenents that rely on other components.

@mixin alpha-attr($attribute, $alpha-color, $background: white) {
  #{$attribute}: solid($alpha-color, $background);
  #{$attribute}: $alpha-color;
}
@mixin fade-gradient($position,$color:$tone-darker,$alpha:0.03) {
  @if      $position == top    { $position: bottom; }
  @else if $position == bottom { $position: top; }
  background-image: linear-gradient($position, rgba($color,.0) 0%, rgba($color,$alpha) 100%);
}

@mixin fit-image($image,$margin:false) {
  background-image: image-url($image);
  width: image-width($image);
  height: image-height($image);
  @if ($margin == center or $margin == auto) {
    margin: 0 auto;
  }
  @else if (type-of($margin) == number) or (type-of($margin) == list) {
    margin: $margin;
  }
}

@mixin scrollable {
  //overflow:   hidden;
  //overflow-y: auto;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  min-height: 0;
}

@mixin i($name,$icon) {
  #{$name}:before { content: $icon; }
}

@mixin icon($name,$icon) {
  $class-name: '.icon-'+$name;
  @include i($class-name,$icon)
}

