$base-border: 1px solid #DDD;
$page-bg: lighten(#F5F5F5,2%);

.label {
  text-transform: uppercase;
  padding: .3em .6em .4em;
}

.panel-heading {
  padding: $gutter;
  .btn {
    margin-top: 10px;
    line-height: 47px;
    span {
      margin-right: 10px;
    }
  }
}
.media {
  margin-bottom: 15px;
  select, textarea {
    margin-bottom: 10px;
  }
}



.project-widget {
  p {
    margin-bottom: 0;
  }
}


.project-large {
  .nav-tabs {
    & {
      margin: $gutter 0 -1px;
    }
    > li > a {
      border: $base-border;
    }
    > .active > a {
      &, &:hover {
        background-color: $page-bg;
        border-bottom-color: $page-bg;
      }
    }
  }
  .progress {
    background-color: #DDD;
    margin: -$gutter - 1px;
    margin-bottom: 10px;
    height: 6px;
    border-radius: 4px 4px 0 0;
  }
  .tab-pane .row {
    margin: -$gutter;
    > div {
      padding: $gutter;
    }
  }
}

.project-description {
  border-top: $base-border;
  background-color: $page-bg;
  margin-bottom: -$gutter;
  > div {
    padding: $gutter;
  }
  .left-col {
    border-right: $base-border;
  }
  .right-col {
    border-left: $base-border;
    margin-left: -1px;
  }
}

.project-progress-item {
  padding: $gutter;
  border: $base-border;
  background-color: solid(rgba(black,0.05),$page-bg)
}

.avatar {
  width: 30px;
  height: 30px;
}