// Move from and to
.page-moveToLeft              { animation: moveToLeft    .6s ease both; }
.page-moveFromLeft            { animation: moveFromLeft  .6s ease both; }
.page-moveToRight             { animation: moveToRight   .6s ease both; }
.page-moveFromRight           { animation: moveFromRight .6s ease both; }
@keyframes moveToLeft         { to   { transform: translateX(-100%); } }
@keyframes moveFromLeft       { from { transform: translateX(-100%); } }
@keyframes moveToRight        { to   { transform: translateX( 100%); } }
@keyframes moveFromRight      { from { transform: translateX( 100%); } }

// Scale and fade
.page-scaleDown               { animation: scaleDown .6s ease both; }
@keyframes scaleDown          { to { opacity: 0; transform: scale(0.95); } }

// Move from and to
// .page-moveToLeft           { animation: moveToLeft    .6s ease both; }
// .page-moveFromLeft         { animation: moveFromLeft  .6s ease both; }
// .page-moveToRight          { animation: moveToRight   .6s ease both; }
// .page-moveFromRight        { animation: moveFromRight .6s ease both; }
//
// @keyframes moveToLeft      { to   { transform: translateX(-100%); } }
// @keyframes moveFromLeft    { from { transform: translateX(-100%); } }
// @keyframes moveToRight     { to   { transform: translateX( 100%); } }
// @keyframes moveFromRight   { from { transform: translateX( 100%); } }

// Scale and fade
// .page-scaleDown            { animation: scaleDown       .6s ease     both; }
// .page-scaleUp              { animation: scaleUp         .7s ease     both; }
// .page-scaleUpDown          { animation: scaleUpDown     .5s ease     both; }
// .page-scaleDownUp          { animation: scaleDownUp     .5s ease     both; }
// .page-scaleDownCenter      { animation: scaleDownCenter .4s ease-in  both; }
// .page-scaleUpCenter        { animation: scaleUpCenter   .4s ease-out both; }
//
// @keyframes scaleDown       { to   { opacity: 0; transform: scale(0.9); } }
// @keyframes scaleUp         { from { opacity: 0; transform: scale(0.9); } }
// @keyframes scaleUpDown     { from { opacity: 0; transform: scale(1.2); } }
// @keyframes scaleDownUp     { to   { opacity: 0; transform: scale(1.2); } }
// @keyframes scaleDownCenter { to   { opacity: 0; transform: scale(0.8); } }
// @keyframes scaleUpCenter   { from { opacity: 0; transform: scale(0.8); } }

// Animation delay classes
// .page-delay100             { animation-delay:   .1s; }
// .page-delay180             { animation-delay: .180s; }
// .page-delay200             { animation-delay:   .2s; }
// .page-delay300             { animation-delay:   .3s; }
// .page-delay400             { animation-delay:   .4s; }
// .page-delay500             { animation-delay:   .5s; }
// .page-delay700             { animation-delay:   .7s; }
// .page-delay1000            { animation-delay:    1s; }
