%full-panel {
  display:  block;
  position: absolute;
  top:      0;
  right:    0;
  bottom:   0;
  left:     0;
}

// without min-height:0 overflow scrolling doesn't work
%scrollable {
  @include scrollable;
}

%ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


.scrollable { @extend %scrollable; }
.ellipsis   { @extend %ellipsis; }


.radius { border-radius:   3px; }
.round  { border-radius: 100px; }
.square { border-radius:   0px; }


.strong, .bold, .text-bold {
  font-weight: bold;
}
.em, .italc, .text-italic {
  font-style: italic;
}


.display-table {
  display: table;
  height: 100%;
  width: 100%;
  &.fix-height {
    height: 1px;
  }
}
.display-row {
  display: table-row;
  vertical-align: middle;
  &.is-flex {
    height: 100%;
  }
}
.display-cell {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  &.is-flex {
    width: 100%;
  }
}
