---
title: Home
---

.container
  .row
    - 20.times do
      .col-md-6.col-lg-4
        %div.panel.panel-default{class: "project-widget"}
          %div.panel-body
            %div.clearfix
              %small.text-muted.pull-right 20 de sep de 2014
              .label.label-default draft
            %h1.h4 Sed posuere consectetur est at lobortis.
            %p Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Nulla vitae elit libero, a pharetra augue.
