---
title: Home
---

.container

  %div.panel.panel-default{class: "project-large"}
    %div.panel-heading

      .progress
        .progress-bar{style: "width: 60%;", role: "progressbar", aria: {valuenow: "60", valuemin: "0", valuemax: "100"}}

      .row
        .col-md-2
          .h5.text-muted Progress
          %input.input-lg.form-control{type: "text", value: "60%"}
        .col-md-8
          .h5.text-muted Description
          %input.input-lg.form-control{type: "text", placeholder: "Description here..."}
        .col-md-2
          %button.btn.btn-lg.btn-block.btn-primary
            %span.glyphicon.glyphicon-ok
            Update



    %div.panel-body

      .row.project-body
        .col-md-12
          .text-muted.pull-right 20 de sep de 2014
          .label.label-default draft

        .col-md-12
          %h1 Sed posuere consectetur est at lobortis.
          %p.lead Donec id elit non mi porta gravida at eget metus. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Curabitur blandit tempus porttitor. Donec id elit non mi porta gravida at eget metus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur blandit tempus porttitor. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Nulla vitae elit libero, a pharetra augue. Vestibulum id ligula porta felis euismod semper. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.

      %ul.nav.nav-tabs.nav-justified
        %li.active
          %a{"data-toggle" => "tab", href: "#project-info", style: "margin-right:10px;"} Project
        %li
          %a{"data-toggle" => "tab", href: "#project-progress", style: "margin-left:10px;"} Progress

      .row.project-description

        .tab-content
          #project-info.tab-pane.active
            .row
              .col-md-8.left-col
                %h2 Proposito
                %textarea.form-control{placeholder: "Escribe el proposito aquí..."}

                %h2 Objetivos
                %textarea.form-control{placeholder: "Escribe los objetivos aquí..."}

                %h2 Resultados esperados
                %textarea.form-control{placeholder: "Escribe los resultados aquí..."}

              .col-md-4.right-col
                %h2 Roles
                - 2.times do
                  .media
                    %a.pull-left{href: "#"}
                      %img.avatar.media-object.img-circle{alt: "...", src: "https://s3.amazonaws.com/uifaces/faces/twitter/leemunroe/128.jpg"}
                    .media-body
                      %button.close{"aria-hidden" => "true", type: "button"} ×
                      %h4.media-heading Nombre rol
                      Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Sed posuere consectetur est at lobortis.

                .media
                  %a.pull-left{href: "#"}
                    %img.avatar.media-object.img-circle{alt: "...", src: "https://s3.amazonaws.com/uifaces/faces/twitter/leemunroe/128.jpg"}
                  .media-body
                    %select.form-control
                      %option Nombre del rol
                    %textarea.form-control{placeholder: "Describe el rol aquí..."}
                    %a.btn.btn-sm.btn-primary Add new role

          #project-progress.tab-pane
            - 10.times do
              .panel.media.project-progress-item
                %a.pull-left{href: "#"}
                  %img.avatar.media-object.img-circle{alt: "...", src: "https://s3.amazonaws.com/uifaces/faces/twitter/leemunroe/128.jpg"}
                .media-body
                  %h4.media-heading Nombre rol
                  Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Sed posuere consectetur est at lobortis.
